workflows/Cancelar_Tutoria.json
{
  "name": "Cancelar_Tutoria_Discord",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        112
      ],
      "id": "a33b3a8c-8534-470c-9767-3a706e686e2e",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "const ID_DISCORD = '1461025112445812879';\nconst telefono = ID_DISCORD;\nconst usuarioNombre = 'Natalia';\nreturn [{ json: { telefono, usuarioNombre } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        112
      ],
      "id": "192c0c82-6e7d-4c4c-9326-3e0697aa1d49",
      "name": "Extraer Datos Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "❌ Escribe el *ID de la tutoría* que deseas cancelar (ejemplo: TU001):",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -432,
        112
      ],
      "id": "257829e8-adeb-4864-a16d-ad69391fa280",
      "name": "Pedir ID Cancelar",
      "webhookId": "2b6e4dca-822e-42b3-9d38-3d7ccbcf01c9",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $json.data.text.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        112
      ],
      "id": "4ee9da21-412e-4b0c-b1dd-109c539b417b",
      "name": "Buscar Tutoria",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id_tutoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        112
      ],
      "id": "cc804bab-946b-46d5-939b-586dfa4957aa",
      "name": "¿Tutoria Encontrada?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $json.id_tutoria }}",
            "estado": "Cancelada"
          },
          "matchingColumns": [
            "id_tutoria"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        32
      ],
      "id": "9a1ac1f4-2e24-47aa-8b71-c1fe99a0f9a8",
      "name": "Actualizar Estado Tutoria",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Buscar Tutoria').first().json.id_tutor }}",
            "estado": "Libre"
          },
          "matchingColumns": [
            "id_tutor"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        32
      ],
      "id": "39869269-a180-4019-9c67-1ecb94b2e3c2",
      "name": "Liberar Horario Tutor",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Buscar Tutoria').first().json;\nreturn [{ json: { mensaje: `✅ Tu tutoría (ID: ${r.id_tutoria}) fue cancelada correctamente.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        32
      ],
      "id": "f097fad4-893c-49f3-924a-c4f3aa9e2fa2",
      "name": "Armar Mensaje OK"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "={{ $json.mensaje }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1008,
        32
      ],
      "id": "faca66ce-278d-47c8-86f5-e972fc2b6e08",
      "name": "Enviar Resultado OK",
      "webhookId": "35a13ee9-199e-48b3-836a-fc5f0880f66a",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "⚠️ Tutoría no encontrada. Verifica el ID e intenta de nuevo.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        192
      ],
      "id": "b7252422-9e16-4a4e-ba86-547e78560d75",
      "name": "Enviar Resultado Error",
      "webhookId": "28e7bc4c-cd7e-43d5-b5cb-a37ae1333f9a",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Extraer Datos Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Discord": {
      "main": [
        [
          {
            "node": "Pedir ID Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Cancelar": {
      "main": [
        [
          {
            "node": "Buscar Tutoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria": {
      "main": [
        [
          {
            "node": "¿Tutoria Encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tutoria Encontrada?": {
      "main": [
        [
          {
            "node": "Actualizar Estado Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Resultado Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado Tutoria": {
      "main": [
        [
          {
            "node": "Liberar Horario Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario Tutor": {
      "main": [
        [
          {
            "node": "Armar Mensaje OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Mensaje OK": {
      "main": [
        [
          {
            "node": "Enviar Resultado OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e9ba8a9-9293-40cb-8dbe-0885c19c0be9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eccbb631d146352b69c2dcf3a0e899ec6bc26916e8a8bca0dd1f168d982a3dea"
  },
  "id": "G22UL470Dxrb9in6",
  "tags": []
}
