workflows/Motor_Asignacion.json
{
  "name": "TutorBot_WhatsApp_Twilio_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-tutorbot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -928,
        208
      ],
      "id": "150a94f4-8e51-4162-9a20-9812dc4773ad",
      "name": "Twilio Webhook",
      "webhookId": "405665d9-386f-4d2f-955b-9d71d4455dfa"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n// Capturar el mensaje y limpiar el formato del teléfono de Twilio\nconst mensaje = (body.Body || '').toString().trim();\nconst telefono = (body.From || '').toString().replace('whatsapp:', '').trim();\nconst usuarioNombre = body.ProfileName || 'Estudiante';\n\nif (!telefono) {\n  throw new Error('No se detectó un número de teléfono válido.');\n}\n\nreturn [{\n  json: {\n    mensaje,\n    telefono,\n    usuarioNombre\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ],
      "id": "1d0ecdad-b0d2-44b4-a3bb-37510026b659",
      "name": "Extraer Datos WhatsApp"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "WhatShapp_user",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        208
      ],
      "id": "195ac3f8-0c24-4a7e-aff9-64b05c28681c",
      "name": "Buscar Sesión Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.pantalla_actual || 'NUEVO' }}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_PRINCIPAL",
              "output": 0
            },
            {
              "value2": "MENU_MATERIAS",
              "output": 1
            },
            {
              "value2": "ESPERANDO_CONFIRMACION",
              "output": 2
            },
            {
              "value2": "REGISTRO",
              "output": 3
            },
            {
              "value2": "CONSULTAR",
              "output": 4
            },
            {
              "value2": "CANCELAR",
              "output": 5
            }
          ]
        },
        "fallbackOutput": 6
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "ffe6e1ee-92f0-475f-8143-39e83abc25bb",
      "name": "Enrutador de Estados"
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos WhatsApp').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `Por favor, selecciona la materia para tu asesoría ingresando el número correspondiente:\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_MATERIAS'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "id": "b9e0cee6-8992-48c0-a259-1bfb0d22374c",
      "name": "Menu Inicial"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extraer Datos WhatsApp').first().json.mensaje;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nconst materias = {\n  \"1\": \"JavaScript\",\n  \"2\": \"Python\",\n  \"3\": \"Java\",\n  \"4\": \"Bases de Datos\",\n  \"5\": \"HTML y CSS\"\n};\n\nconst materiaSeleccionada = materias[msg];\n\nif (!materiaSeleccionada) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Opción no válida. Por favor selecciona un número del 1 al 5 para elegir tu materia.\",\n      siguiente_pantalla: \"MENU_MATERIAS\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    telefono,\n    error: false,\n    materia_seleccionada: materiaSeleccionada,\n    respuesta: `Perfecto 👍\\nSeleccionaste: *${materiaSeleccionada}*\\n\\nBuscando tutores disponibles...`    \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        208
      ],
      "id": "6d7d8084-8b40-4018-9210-c8e97fdb6008",
      "name": "Procesar Materia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        208
      ],
      "id": "a4515a06-35fb-4716-88eb-63c25173fa73",
      "name": "¿Materia Inválida?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutores",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        224
      ],
      "id": "b1249470-538f-436e-a983-d0af0da48337",
      "name": "Descargar Tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const materia = $('Procesar Materia').first().json.materia_seleccionada;\nreturn items.filter(item => \n  item.json.estado === \"Activo\" && \n  item.json.especialidad_materias === materia\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        224
      ],
      "id": "6c1b0bea-fce9-4887-9bf8-59bf8f2c83ca",
      "name": "Filtrar Tutores"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        224
      ],
      "id": "105f49d1-05fb-4bbe-92e1-dcb50fa09c07",
      "name": "Descargar Disponibilidades",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tutoresValidos = $('Filtrar Tutores').all().map(t => t.json.id_tutor);\nreturn items.filter(item => \n  tutoresValidos.includes(item.json.id_tutor) && \n  item.json.estado === \"Libre\"\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        224
      ],
      "id": "31c5032c-8f70-4cc9-bfb3-ddc2485af83e",
      "name": "Cruzar Disponibilidad"
    },
    {
      "parameters": {
        "jsCode": "const diasSemana = {\n  \"Domingo\": 0, \"Lunes\": 1, \"Martes\": 2,\n  \"Miércoles\": 3, \"Miercoles\": 3,\n  \"Jueves\": 4, \"Viernes\": 5,\n  \"Sábado\": 6, \"Sabado\": 6\n};\n\nfunction proximaFecha(diaTexto) {\n  const hoy = new Date();\n  const diaObjetivo = diasSemana[diaTexto];\n  if (diaObjetivo === undefined) return null;\n  const diaActual = hoy.getDay();\n  let diff = diaObjetivo - diaActual;\n  if (diff <= 0) diff += 7;\n  const res = new Date(hoy);\n  res.setDate(hoy.getDate() + diff);\n  return res.toISOString().split('T')[0];\n}\n\nconst tutoresMap = {};\n$('Filtrar Tutores').all().forEach(t => {\n  tutoresMap[t.json.id_tutor] = t.json.nombre;\n});\n\nconst opciones = [];\nlet counter = 1;\n\nfor (const dispo of items) {\n  const d = dispo.json;\n  opciones.push({\n    opcion: counter,\n    id_tutor: d.id_tutor,\n    nombre_tutor: tutoresMap[d.id_tutor] || \"Tutor\",\n    fecha: proximaFecha(d.dia_semana),\n    dia_semana: d.dia_semana,\n    hora_inicio: d.hora_inicio,\n    hora_fin: d.hora_fin\n  });\n  counter++;\n  if (counter > 3) break;\n}\n\nreturn opciones.map(op => ({ json: op }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        224
      ],
      "id": "dbec7e9b-7f10-4f61-8ba3-1f6127db3cbc",
      "name": "Motor de Asignación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-vacio",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        128
      ],
      "id": "2eb0fd24-b524-4d8a-99ef-cf3602f7beed",
      "name": "¿Hay Opciones?"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: \"😔 Lo siento, en este momento no tenemos tutores disponibles para la materia solicitada. Por favor, intenta más tarde escribiendo *Hola*.\",\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        128
      ],
      "id": "027bbb82-42e6-4c0e-87d5-2eb4393c5680",
      "name": "Handler Sin Tutores"
    },
    {
      "parameters": {
        "jsCode": "const opciones = items.map(i => i.json);\nconst materia = $('Procesar Materia').first().json.materia_seleccionada;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nlet msg = `👨‍🏫 *Opciones de asesoría para ${materia}:*\\n\\n`;\n\nopciones.forEach(op => {\n  msg += `*${op.opcion}*️⃣ ${op.nombre_tutor}\\n📅 ${op.fecha} (${op.dia_semana})\\n⏰ ${op.hora_inicio} a ${op.hora_fin}\\n\\n`;\n});\n\nmsg += \"✍️ Responde con el *número* de la opción que desees agendar.\";\n\nreturn [{\n  json: {\n    telefono,\n    respuesta: msg,\n    siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        336
      ],
      "id": "7f43dcc0-4038-445a-8fe1-24e3bcfa4f0e",
      "name": "Construir Menú Opciones"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Extraer Datos WhatsApp').first().json.telefono }}",
            "opcion": "={{ $json.opcion }}",
            "id_tutor": "={{ $json.id_tutor }}",
            "nombre_tutor": "={{ $json.nombre_tutor }}",
            "materia": "={{ $('Procesar Materia').first().json.materia_seleccionada }}",
            "fecha": "={{ $json.fecha }}",
            "dia_semana": "={{ $json.dia_semana }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "Pendiente",
            "fecha_creacion": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        400
      ],
      "id": "3b425a31-40f8-4bbc-986f-4a9fed939342",
      "name": "Almacenar Pre-Reservas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        496
      ],
      "id": "a4ff91a2-193d-4d02-8a94-3cd7fa7a83a9",
      "name": "Cargar Opciones Ofrecidas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extraer Datos WhatsApp').first().json.mensaje.trim();\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nconst seleccion = parseInt(msg, 10);\nconst pendientes = items.map(i => i.json);\n\nconst reservaElegida = pendientes.find(r => \n  r.id_chat === telefono && \n  parseInt(r.opcion, 10) === seleccion && \n  r.estado === \"Pendiente\"\n);\n\nif (!reservaElegida) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Selección inválida. Responde únicamente con el número de la opción elegida (1, 2 o 3).\",\n      siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...reservaElegida,\n    error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        496
      ],
      "id": "e04eb874-6ff5-457e-80b2-928088586984",
      "name": "Validar Selección"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        496
      ],
      "id": "282f130a-b003-4515-b90b-434492ab4b83",
      "name": "¿Selección Inválida?"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alexc6997@gmail.com",
          "mode": "list"
        },
        "start": "={{ $json.fecha + 'T' + $json.hora_inicio + ':00-05:00' }}",
        "end": "={{ $json.fecha + 'T' + $json.hora_fin + ':00-05:00' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        512
      ],
      "id": "22cc39a3-c6bc-4ff8-a01a-6d5d0fb94760",
      "name": "Agendar Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1jW9IIfIIfa7MKJR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Validar Selección').first().json.id_tutor }}",
            "dia_semana": "={{ $('Validar Selección').first().json.dia_semana }}",
            "hora_inicio": "={{ $('Validar Selección').first().json.hora_inicio }}",
            "estado": "Ocupado"
          },
          "matchingColumns": [
            "id_tutor",
            "dia_semana",
            "hora_inicio"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        512
      ],
      "id": "0041f6ff-126f-447d-b392-bdbaea319a3d",
      "name": "Cerrar Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Validar Selección').first().json.id_chat }}",
            "opcion": "={{ $('Validar Selección').first().json.opcion }}",
            "estado": "Confirmada"
          },
          "matchingColumns": [
            "id_chat",
            "opcion"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        512
      ],
      "id": "ead37283-f956-4bcf-90ab-45cd5d0a0975",
      "name": "Confirmar Asesoría",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Validar Selección').first().json;\n\nlet msg = \"✅ *¡TU ASESORÍA HA SIDO CONFIRMADA!* 🗓️\\n\\n\";\nmsg += `👩‍🏫 *Tutor:* ${r.nombre_tutor}\\n`;\nmsg += `📚 *Materia:* ${r.materia}\\n`;\nmsg += `📅 *Fecha:* ${r.fecha} (${r.dia_semana})\\n`;\nmsg += `🕗 *Hora:* ${r.hora_inicio} - ${r.hora_fin}\\n\\n`;\nmsg += \"Hemos añadido este evento a la agenda. ¡Te esperamos!\";\n\nreturn [{\n  json: {\n    telefono: r.id_chat,\n    respuesta: msg,\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        512
      ],
      "id": "83282608-4e30-41b5-816d-f0ede80851e5",
      "name": "Mensaje de Éxito"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        272
      ],
      "id": "13134d24-7611-412f-9d16-103cca95111d",
      "name": "Merge Salidas"
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        272
      ],
      "id": "49cb8d57-1b4d-4d82-8813-810e8a616e0b",
      "name": "Guardar Estado DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.telefono }}",
        "toWhatsapp": true,
        "message": "={{ $json.respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2672,
        272
      ],
      "id": "2f09c94b-8d15-4dbe-ae2b-fef315ca2cc0",
      "name": "Twilio WhatsApp Unificado",
      "credentials": {
        "twilioApi": {
          "id": "ggmacjeqcN2SCcg2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"body\": {\n    \"Body\": \"Hola\",\n    \"From\": \"whatsapp:+573016218473\",\n    \"ProfileName\": \"Estudiante prueba\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        208
      ],
      "id": "9cd2ce81-58ea-49e2-a60c-1d036a724c87",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos WhatsApp').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `¿Qué deseas hacer? Responde con el número:\\n\\n1️⃣ Solicitar una tutoría\\n2️⃣ Registrarme como estudiante\\n3️⃣ Consultar una tutoría\\n4️⃣ Cancelar una tutoría`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_PRINCIPAL'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -200
      ],
      "id": "nuevo-menu-principal-0001",
      "name": "Menu Principal"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($('Extraer Datos WhatsApp').first().json.mensaje || '').trim() }}",
        "rules": {
          "rules": [
            {
              "value2": "1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            },
            {
              "value2": "4",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        224,
        -200
      ],
      "id": "nuevo-switch-menu-principal-0002",
      "name": "Switch Menu Principal"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nconst mensaje = ($('Extraer Datos WhatsApp').first().json.mensaje || '').trim();\nconst mensajeLower = mensaje.toLowerCase();\n\nconst sesionRows = $('Buscar Sesión Usuario').all();\nconst sesionExistente = sesionRows.length > 0 ? sesionRows[0].json : null;\n\nlet paso = (sesionExistente && sesionExistente.pantalla_actual === 'REGISTRO')\n  ? parseInt(sesionExistente.paso_actual, 10)\n  : 0;\nif (isNaN(paso)) paso = 0;\n\nlet datos = {};\ntry {\n  datos = (sesionExistente && sesionExistente.pantalla_actual === 'REGISTRO' && sesionExistente.datos_parciales)\n    ? JSON.parse(sesionExistente.datos_parciales)\n    : {};\n} catch (e) {\n  datos = {};\n}\n\nlet respuesta = '';\nlet nuevoPaso = paso;\nlet pantalla = 'REGISTRO';\nlet completado = false;\n\nif (paso === 0) {\n  nuevoPaso = 1;\n  respuesta = '📝 ¡Vamos a registrarte!\\n\\nPor favor escribe tu nombre completo:';\n  datos = {};\n}\nelse if (paso === 1) {\n  datos.nombre = mensaje;\n  nuevoPaso = 2;\n  respuesta = `Gracias, ${datos.nombre} 😊\\n\\nAhora escribe tu número de documento de identidad:`;\n}\nelse if (paso === 2) {\n  datos.documento = mensaje;\n  nuevoPaso = 3;\n  respuesta = 'Perfecto ✅\\n\\n¿Qué materia te interesa?\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS';\n}\nelse if (paso === 3) {\n  const materias = {'1':'JavaScript','2':'Python','3':'Java','4':'Bases de Datos','5':'HTML y CSS'};\n  const materiaElegida = materias[mensaje];\n  if (!materiaElegida) {\n    nuevoPaso = 3;\n    respuesta = 'No reconocí esa opción 😅\\n\\nResponde con un número del 1 al 5.';\n  } else {\n    datos.materia = materiaElegida;\n    nuevoPaso = 4;\n    respuesta = `Confirma tus datos 📋\\n\\n👤 Nombre: ${datos.nombre}\\n🪦 Documento: ${datos.documento}\\n📚 Materia: ${datos.materia}\\n\\n¿Es correcto? Responde SI o NO`;\n  }\n}\nelse if (paso === 4) {\n  if (mensajeLower === 'si' || mensajeLower === 'sí') {\n    completado = true;\n    nuevoPaso = 0;\n    pantalla = 'NUEVO';\n    respuesta = `🎉 ¡Registro completado, ${datos.nombre}!\\n\\nEscribe *menu* para ver las opciones disponibles.`;\n  } else if (mensajeLower === 'no') {\n    nuevoPaso = 1;\n    datos = {};\n    respuesta = 'Sin problema, empecemos de nuevo 🔄\\n\\nEscribe tu nombre completo:';\n  } else {\n    nuevoPaso = 4;\n    respuesta = 'Por favor responde solo SI o NO 🙏';\n  }\n}\n\nreturn [{\n  json: {\n    telefono,\n    respuesta,\n    siguiente_pantalla: pantalla,\n    paso_actual: nuevoPaso,\n    datos_parciales: JSON.stringify(datos),\n    completado,\n    id_estudiante: completado ? telefono : null,\n    nombre_estudiante: completado ? datos.nombre : null,\n    documento: completado ? datos.documento : null,\n    materia_interes: completado ? datos.materia : null,\n    fecha_registro: completado ? new Date().toISOString().slice(0,10) : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -400
      ],
      "id": "nuevo-procesar-registro-0003",
      "name": "Procesar Registro"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-completado-registro",
              "leftValue": "={{ $json.completado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -400
      ],
      "id": "nuevo-if-registro-completo-0004",
      "name": "¿Registro Completo?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESTUDIANTES",
          "mode": "list",
          "cachedResultName": "ESTUDIANTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_estudiante": "={{ $json.id_estudiante }}",
            "nombre": "={{ $json.nombre_estudiante }}",
            "documento": "={{ $json.documento }}",
            "telefono": "={{ $json.telefono }}",
            "materia_interes": "={{ $json.materia_interes }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -480
      ],
      "id": "nuevo-guardar-estudiante-0005",
      "name": "Guardar Estudiante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -928,
        40
      ],
      "id": "nuevo-respond-webhook-0008",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '🔍 Escribe el ID de la tutoría que deseas consultar (ejemplo: TU001):',\n    siguiente_pantalla: 'CONSULTAR'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -560
      ],
      "id": "consultar-pedir-id-0001",
      "name": "Pedir ID Consulta"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $('Extraer Datos WhatsApp').first().json.mensaje.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -560
      ],
      "id": "consultar-buscar-0002",
      "name": "Buscar Tutoria (Consultar)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "chk-consulta",
              "leftValue": "={{ $json.id_tutoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -560
      ],
      "id": "consultar-if-0003",
      "name": "¿Tutoria Encontrada? (Consultar)"
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nlet msg = '✅ *Tutoría encontrada:*\\n\\n';\nmsg += `🆔 ID: ${r.id_tutoria}\\n`;\nmsg += `📚 Materia: ${r.materia}\\n`;\nmsg += `📅 Fecha: ${r.fecha}\\n`;\nmsg += `🕗 Hora: ${r.hora}\\n`;\nmsg += `📌 Estado: ${r.estado}\\n\\n`;\nmsg += 'Escribe *menu* para volver al inicio.';\nreturn [{ json: { telefono, respuesta: msg, siguiente_pantalla: 'NUEVO' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -640
      ],
      "id": "consultar-ok-0004",
      "name": "Respuesta Consulta OK"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '⚠️ Tutoría no encontrada. Verifica el ID e intenta de nuevo, o escribe *menu* para volver al inicio.',\n    siguiente_pantalla: 'NUEVO'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -480
      ],
      "id": "consultar-error-0005",
      "name": "Respuesta Consulta Error"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '❌ Escribe el ID de la tutoría que deseas cancelar (ejemplo: TU001):',\n    siguiente_pantalla: 'CANCELAR'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -720
      ],
      "id": "cancelar-pedir-id-0006",
      "name": "Pedir ID Cancelar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $('Extraer Datos WhatsApp').first().json.mensaje.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -720
      ],
      "id": "cancelar-buscar-0007",
      "name": "Buscar Tutoria (Cancelar)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "chk-cancelar",
              "leftValue": "={{ $json.id_tutoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -720
      ],
      "id": "cancelar-if-0008",
      "name": "¿Tutoria Encontrada? (Cancelar)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $json.id_tutoria }}",
            "estado": "Cancelada"
          },
          "matchingColumns": [
            "id_tutoria"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -800
      ],
      "id": "cancelar-actualizar-0009",
      "name": "Actualizar Estado Tutoria",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Buscar Tutoria (Cancelar)').first().json.id_tutor }}",
            "estado": "Libre"
          },
          "matchingColumns": [
            "id_tutor"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -800
      ],
      "id": "cancelar-liberar-0010",
      "name": "Liberar Horario Tutor",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Buscar Tutoria (Cancelar)').first().json;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{ json: { telefono, respuesta: `✅ Tu tutoría (ID: ${r.id_tutoria}) fue cancelada correctamente.\\n\\nEscribe *menu* para volver al inicio.`, siguiente_pantalla: 'NUEVO' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -800
      ],
      "id": "cancelar-ok-0011",
      "name": "Respuesta Cancelar OK"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '⚠️ Tutoría no encontrada. Verifica el ID e intenta de nuevo, o escribe *menu* para volver al inicio.',\n    siguiente_pantalla: 'NUEVO'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -800
      ],
      "id": "cancelar-error-0012",
      "name": "Respuesta Cancelar Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Sesión Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesión Usuario": {
      "main": [
        [
          {
            "node": "Enrutador de Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de Estados": {
      "main": [
        [
          {
            "node": "Switch Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cargar Opciones Ofrecidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Tutoria (Consultar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Tutoria (Cancelar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Materia": {
      "main": [
        [
          {
            "node": "¿Materia Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Materia Inválida?": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Tutores": {
      "main": [
        [
          {
            "node": "Filtrar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Tutores": {
      "main": [
        [
          {
            "node": "Descargar Disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Disponibilidades": {
      "main": [
        [
          {
            "node": "Cruzar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar Disponibilidad": {
      "main": [
        [
          {
            "node": "Motor de Asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Asignación": {
      "main": [
        [
          {
            "node": "¿Hay Opciones?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Almacenar Pre-Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Opciones?": {
      "main": [
        [
          {
            "node": "Handler Sin Tutores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Menú Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Sin Tutores": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Menú Opciones": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Opciones Ofrecidas": {
      "main": [
        [
          {
            "node": "Validar Selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Selección": {
      "main": [
        [
          {
            "node": "¿Selección Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Selección Inválida?": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Google Calendar": {
      "main": [
        [
          {
            "node": "Cerrar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Disponibilidad": {
      "main": [
        [
          {
            "node": "Confirmar Asesoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Asesoría": {
      "main": [
        [
          {
            "node": "Mensaje de Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de Éxito": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Salidas": {
      "main": [
        [
          {
            "node": "Guardar Estado DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado DB": {
      "main": [
        [
          {
            "node": "Twilio WhatsApp Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Inicial": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Menu Principal": {
      "main": [
        [
          {
            "node": "Menu Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Consulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Registro": {
      "main": [
        [
          {
            "node": "¿Registro Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Registro Completo?": {
      "main": [
        [
          {
            "node": "Guardar Estudiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estudiante": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Consulta": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria (Consultar)": {
      "main": [
        [
          {
            "node": "¿Tutoria Encontrada? (Consultar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tutoria Encontrada? (Consultar)": {
      "main": [
        [
          {
            "node": "Respuesta Consulta OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Consulta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Consulta OK": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Consulta Error": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Cancelar": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria (Cancelar)": {
      "main": [
        [
          {
            "node": "¿Tutoria Encontrada? (Cancelar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tutoria Encontrada? (Cancelar)": {
      "main": [
        [
          {
            "node": "Actualizar Estado Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Cancelar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado Tutoria": {
      "main": [
        [
          {
            "node": "Liberar Horario Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario Tutor": {
      "main": [
        [
          {
            "node": "Respuesta Cancelar OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cancelar OK": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cancelar Error": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ece8f1b1-01e1-4b05-8d55-0ba97ae83c74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "489454830b805717743ac4c8538048d101d7e28dd0d41eae12050f20151ec3b0"
  },
  "id": "AzNxoTCRBKx0dlCl",
  "tags": []
}
