workflows/Motor_Asignacion.json
{
  "name": "TutorBot_WhatsApp_Twilio_Final",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8"
        },
        "sheetName": {
          "__rl": true,
          "value": 659472881,
          "mode": "list",
          "cachedResultName": "Tutores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8/edit#gid=659472881"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3024,
        48
      ],
      "id": "b4c89218-9606-45fb-b198-981ad7febb88",
      "name": "Buscar Sesión Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.pantalla_actual || 'NUEVO' }}",
        "rules": {
          "rules": [
            {
              "value2": "NUEVO"
            },
            {
              "value2": "MENU_MATERIAS",
              "output": 1
            },
            {
              "value2": "ESPERANDO_CONFIRMACION",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2832,
        16
      ],
      "id": "20facfb5-a257-4b81-b1e9-11dc978f34f8",
      "name": "Enrutador de Estados"
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos Discord').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `Por favor, selecciona la materia para tu asesoría ingresando el número correspondiente:\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_MATERIAS'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -224
      ],
      "id": "6dfcd931-596d-4a2e-9c23-7eb8d5da0206",
      "name": "Menu Inicial"
    },
    {
      "parameters": {
        "jsCode": "// se lee el número (\"1\", \"2\", etc.) que viene directo del nodo de Discord\nconst msg = $('Send message and wait for response').first().json.data.text;\n\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nconst materias = {\n  \"1\": \"JavaScript\",\n  \"2\": \"Python\",\n  \"3\": \"Java\",\n  \"4\": \"Bases de Datos\",\n  \"5\": \"HTML y CSS\"\n};\n\nconst materiaSeleccionada = materias[msg];\n\nif (!materiaSeleccionada) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Opción no válida. Por favor selecciona un número del 1 al 5 para elegir tu materia.\",\n      siguiente_pantalla: \"MENU_MATERIAS\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    telefono,\n    error: false,\n    materia_seleccionada: materiaSeleccionada,\n    respuesta: `Perfecto 👍\\nSeleccionaste: *${materiaSeleccionada}*\\n\\nBuscando tutores disponibles...`    \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        -64
      ],
      "id": "a28d789a-9c13-45b8-9e1b-c266283783ae",
      "name": "Procesar Materia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -64
      ],
      "id": "7b1c4c0d-b943-45d7-a459-f36f9df98e43",
      "name": "¿Materia Inválida?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutores",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1776,
        -48
      ],
      "id": "53249909-f5bd-4ebe-9e8d-4560ea4d197c",
      "name": "Descargar Tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const materia = $('Procesar Materia').first().json.materia_seleccionada;\nreturn items.filter(item => \n  (item.json.estado_tutor || '').toLowerCase().trim() === \"activo\" && \n  (item.json.especialidad_materias || '').toLowerCase().trim() === (materia || '').toLowerCase().trim()\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -48
      ],
      "id": "154c20ae-043a-44d2-8fb5-661fabf34522",
      "name": "Filtrar Tutores"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1376,
        -48
      ],
      "id": "68a74535-1c9d-4342-918c-255f593f1d37",
      "name": "Descargar Disponibilidades",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tutoresValidos = $('Filtrar Tutores').all().map(t => t.json.id_tutor);\nreturn items.filter(item => \n  tutoresValidos.includes(item.json.id_tutor) && \n  (item.json.estado || '').toLowerCase().trim() === \"libre\"\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        -48
      ],
      "id": "6c85996c-b2d2-47d9-ad26-678cd3d40953",
      "name": "Cruzar Disponibilidad"
    },
    {
      "parameters": {
        "jsCode": "const diasSemana = {\n  \"Domingo\": 0, \"Lunes\": 1, \"Martes\": 2,\n  \"Miércoles\": 3, \"Miercoles\": 3,\n  \"Jueves\": 4, \"Viernes\": 5,\n  \"Sábado\": 6, \"Sabado\": 6\n};\n\nfunction proximaFecha(diaTexto) {\n  const hoy = new Date();\n  const diaObjetivo = diasSemana[diaTexto];\n  if (diaObjetivo === undefined) return null;\n  const diaActual = hoy.getDay();\n  let diff = diaObjetivo - diaActual;\n  if (diff <= 0) diff += 7;\n  const res = new Date(hoy);\n  res.setDate(hoy.getDate() + diff);\n  return res.toISOString().split('T')[0];\n}\n\nconst tutoresMap = {};\n$('Filtrar Tutores').all().forEach(t => {\n  tutoresMap[t.json.id_tutor] = t.json.nombre;\n});\n\nconst opciones = [];\nlet counter = 1;\n\nfor (const dispo of items) {\n  const d = dispo.json;\n  opciones.push({\n    opcion: counter,\n    id_tutor: d.id_tutor,\n    nombre_tutor: tutoresMap[d.id_tutor] || \"Tutor\",\n    fecha: proximaFecha(d.dia_semana),\n    dia_semana: d.dia_semana,\n    hora_inicio: d.hora_inicio,\n    hora_fin: d.hora_fin\n  });\n  counter++;\n  if (counter > 3) break;\n}\n\nreturn opciones.map(op => ({ json: op }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -96
      ],
      "id": "f6e62c90-5105-4de7-b219-238d4d34a866",
      "name": "Motor de Asignación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-vacio",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        -240
      ],
      "id": "892de16c-942b-4c84-a0d0-6ca2a8faa1e7",
      "name": "¿Hay Opciones?"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos Discord').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: \"😔 Lo siento, en este momento no tenemos tutores disponibles para la materia solicitada. Por favor, intenta más tarde escribiendo *Hola*.\",\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -288
      ],
      "id": "9835c45e-a903-43ce-a5cd-716edd837e02",
      "name": "Handler Sin Tutores"
    },
    {
      "parameters": {
        "jsCode": "const opciones = items.map(i => i.json);\nconst materia = $('Procesar Materia').first().json.materia_seleccionada;\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nlet msg = `👨‍🏫 *Opciones de asesoría para ${materia}:*\\n\\n`;\n\nopciones.forEach(op => {\n  msg += `${op.opcion} ${op.nombre_tutor}\\n📅 ${op.fecha} (${op.dia_semana})\\n⏰ ${op.hora_inicio} a ${op.hora_fin}\\n\\n`;\n});\n\nmsg += \"✍️ Responde con el número de la opción que desees agendar.\";\n\nreturn [{\n  json: {\n    telefono,\n    respuesta: msg,\n    siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -112
      ],
      "id": "bf86525a-a55a-417c-924f-31a1d8b56685",
      "name": "Construir Menú Opciones"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Extraer Datos Discord').first().json.telefono }}",
            "opcion": "={{ $json.opcion }}",
            "id_tutor": "={{ $json.id_tutor }}",
            "nombre_tutor": "={{ $json.nombre_tutor }}",
            "materia": "={{ $('Procesar Materia').first().json.materia_seleccionada }}",
            "fecha": "={{ $json.fecha }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "Pendiente",
            "fecha_creacion": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_chat",
              "displayName": "id_chat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_tutor",
              "displayName": "nombre_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        192
      ],
      "id": "3047b6c9-3695-485f-9fc0-000f06e4218d",
      "name": "Almacenar Pre-Reservas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        96
      ],
      "id": "f756d665-cd89-4ead-8637-66cecf921f9b",
      "name": "Cargar Opciones Ofrecidas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Send message and wait for response1').first().json.data.text.trim();\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nconst seleccion = parseInt(msg, 10);\nconst pendientes = items.map(i => i.json);\n\nconst reservaElegida = pendientes.find(r => \n  r.id_chat === telefono && \n  parseInt(r.opcion, 10) === seleccion && \n  r.estado === \"Pendiente\"\n);\n\nif (!reservaElegida) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Selección inválida. Responde únicamente con el número de la opción elegida (1, 2 o 3).\",\n      siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...reservaElegida,\n    error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        96
      ],
      "id": "7eb64a0c-b715-4a91-acf8-e6a790eb944d",
      "name": "Validar Selección"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        96
      ],
      "id": "fbbe2cf0-e016-4c38-a471-93215287569c",
      "name": "¿Selección Inválida?"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alexc6997@gmail.com",
          "mode": "list",
          "cachedResultName": "alexc6997@gmail.com"
        },
        "start": "={{ $json.fecha + 'T' + $json.hora_inicio.padStart(5,'0') + ':00-05:00' }}",
        "end": "={{ $json.fecha + 'T' + $json.hora_fin.padStart(5,'0') + ':00-05:00' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        800,
        112
      ],
      "id": "d3244a4c-1b3e-4d5d-8d5e-b226cf6d6c3d",
      "name": "Agendar Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Z9JehC3ptmYOv32N",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Validar Selección').first().json.id_tutor }}",
            "dia_semana": "={{ $('Validar Selección').first().json.dia_semana }}",
            "hora_inicio": "={{ $('Validar Selección').first().json.hora_inicio }}",
            "estado": "ocupado",
            "row_number": 0
          },
          "matchingColumns": [
            "id_tutor",
            "dia_semana",
            "hora_inicio"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        112
      ],
      "id": "09003581-9471-49c5-9e46-3e9ec424edcb",
      "name": "Cerrar Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Validar Selección').first().json.id_chat }}",
            "opcion": "={{ $('Validar Selección').first().json.opcion }}",
            "estado": "Confirmada",
            "row_number": 0
          },
          "matchingColumns": [
            "id_chat",
            "opcion"
          ],
          "schema": [
            {
              "id": "id_chat",
              "displayName": "id_chat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_tutor",
              "displayName": "nombre_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        112
      ],
      "id": "8f08f737-f87e-4541-b7c0-32adc695826c",
      "name": "Confirmar Asesoría",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Validar Selección').first().json;\n\nlet msg = \"✅ *¡TU ASESORÍA HA SIDO CONFIRMADA!* 🗓️\\n\\n\";\nmsg += `👩‍🏫 *Tutor:* ${r.nombre_tutor}\\n`;\nmsg += `📚 *Materia:* ${r.materia}\\n`;\nmsg += `📅 *Fecha:* ${r.fecha}\\n`;\nmsg += `🕗 *Hora:* ${r.hora_inicio} - ${r.hora_fin}\\n\\n`;\nmsg += \"Hemos añadido este evento a la agenda. ¡Te esperamos!\";\n\nreturn [{\n  json: {\n    telefono: r.id_chat,\n    respuesta: msg,\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        112
      ],
      "id": "dcbc4a4e-ba03-42c2-a442-14498ae5caa0",
      "name": "Mensaje de Éxito"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        96
      ],
      "id": "4ae13993-f2b8-47ac-af4f-f4c5e7df4249",
      "name": "Merge Salidas"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 782939407,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8/edit#gid=782939407"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sessions": "={{ $('Extraer Datos Discord').first().json.telefono }}"
          },
          "matchingColumns": [
            "Sessions"
          ],
          "schema": [
            {
              "id": "Sessions",
              "displayName": "Sessions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        32
      ],
      "id": "2b64d956-fed1-4bec-9afb-69d800ee7d40",
      "name": "Guardar Estado DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1461025112445812879\n// Captura los datos del trigger manual\nconst body = $json;\n\nconst ID_DISCORD = '1461025112445812879'; \n\nconst mensaje = 'hola';\n\nconst telefono = ID_DISCORD; \n\nconst usuarioNombre = 'Natalia'; \n\nreturn [{\n  json: {\n    mensaje,\n    telefono,\n    usuarioNombre\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        48
      ],
      "id": "859ac270-1b32-4b8a-9b46-4f24dc540c50",
      "name": "Extraer Datos Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ $json.respuesta }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2368,
        -224
      ],
      "id": "85b7787b-8d91-4c92-93a4-d22d621b4c8e",
      "name": "Send message and wait for response",
      "webhookId": "218e66dd-7cae-4773-870f-5202d1928a31",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3440,
        48
      ],
      "id": "9bcb6aa9-0904-4763-a04a-c1962bd06699",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ $json.respuesta }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -96,
        96
      ],
      "id": "134554c9-ea8f-4b2b-a8a6-6e86b67aae55",
      "name": "Send message and wait for response1",
      "webhookId": "218e66dd-7cae-4773-870f-5202d1928a31",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "={{ $json.respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1616,
        32
      ],
      "id": "d8c48e76-a2d3-4663-815b-31b6c137e527",
      "name": "Send a message",
      "webhookId": "b615d0e9-99a7-4308-85c9-a1c865581d39",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Sesión Usuario": {
      "main": [
        [
          {
            "node": "Enrutador de Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de Estados": {
      "main": [
        [
          {
            "node": "Menu Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Materia": {
      "main": [
        [
          {
            "node": "¿Materia Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Materia Inválida?": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Tutores": {
      "main": [
        [
          {
            "node": "Filtrar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Tutores": {
      "main": [
        [
          {
            "node": "Descargar Disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Disponibilidades": {
      "main": [
        [
          {
            "node": "Cruzar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar Disponibilidad": {
      "main": [
        [
          {
            "node": "Motor de Asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Asignación": {
      "main": [
        [
          {
            "node": "¿Hay Opciones?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Almacenar Pre-Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Opciones?": {
      "main": [
        [
          {
            "node": "Handler Sin Tutores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Menú Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Sin Tutores": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Construir Menú Opciones": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Opciones Ofrecidas": {
      "main": [
        [
          {
            "node": "Validar Selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Selección": {
      "main": [
        [
          {
            "node": "¿Selección Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Selección Inválida?": {
      "main": [
        [],
        [
          {
            "node": "Agendar Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Google Calendar": {
      "main": [
        [
          {
            "node": "Cerrar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Disponibilidad": {
      "main": [
        [
          {
            "node": "Confirmar Asesoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Asesoría": {
      "main": [
        [
          {
            "node": "Mensaje de Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de Éxito": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Salidas": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Inicial": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Discord": {
      "main": [
        [
          {
            "node": "Buscar Sesión Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Procesar Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extraer Datos Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Cargar Opciones Ofrecidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Guardar Estado DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b4afdcd-da03-434b-bf21-c04ba9fc37a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eccbb631d146352b69c2dcf3a0e899ec6bc26916e8a8bca0dd1f168d982a3dea"
  },
  "id": "iNFMAxADkxPKBS2O",
  "tags": []
}
