workflows/Motor_Asignacion.json
{
  "name": "TutorBot_WhatsApp_Twilio_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-tutorbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -5104,
        -128
      ],
      "id": "522aace1-4483-4dc4-b8f3-49cae5c10684",
      "name": "Twilio Webhook",
      "webhookId": "405665d9-386f-4d2f-955b-9d71d4455dfa"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n// Capturar el mensaje y limpiar el formato del teléfono de Twilio\nconst mensaje = (body.Body || '').toString().trim();\nconst telefono = (body.From || '').toString().replace('whatsapp:', '').trim();\nconst usuarioNombre = body.ProfileName || 'Estudiante';\n\nif (!telefono) {\n  throw new Error('No se detectó un número de teléfono válido.');\n}\n\nreturn [{\n  json: {\n    mensaje,\n    telefono,\n    usuarioNombre\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4672,
        -128
      ],
      "id": "c178d3f9-1c8c-4d0e-9dd3-0fcf0c20b734",
      "name": "Extraer Datos WhatsApp"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "WhatShapp_user",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4448,
        -128
      ],
      "id": "b1658472-e3bb-44f2-a905-7e0b41e44507",
      "name": "Buscar Sesión Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.pantalla_actual || 'NUEVO' }}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_PRINCIPAL"
            },
            {
              "value2": "MENU_MATERIAS",
              "output": 1
            },
            {
              "value2": "ESPERANDO_CONFIRMACION",
              "output": 2
            },
            {
              "value2": "REGISTRO",
              "output": 3
            },
            {
              "value2": "CONSULTAR",
              "output": 4
            },
            {
              "value2": "CANCELAR",
              "output": 5
            }
          ]
        },
        "fallbackOutput": 6
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -4224,
        -128
      ],
      "id": "c973c0e4-de4e-4bc4-8385-0673565168e9",
      "name": "Enrutador de Estados"
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos WhatsApp').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `Por favor, selecciona la materia para tu asesoría ingresando el número correspondiente:\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_MATERIAS'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -352
      ],
      "id": "b262098f-e959-4f3e-a45b-48514a592613",
      "name": "Menu Inicial"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extraer Datos WhatsApp').first().json.mensaje;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nconst materias = {\n  \"1\": \"JavaScript\",\n  \"2\": \"Python\",\n  \"3\": \"Java\",\n  \"4\": \"Bases de Datos\",\n  \"5\": \"HTML y CSS\"\n};\n\nconst materiaSeleccionada = materias[msg];\n\nif (!materiaSeleccionada) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Opción no válida. Por favor selecciona un número del 1 al 5 para elegir tu materia.\",\n      siguiente_pantalla: \"MENU_MATERIAS\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    telefono,\n    error: false,\n    materia_seleccionada: materiaSeleccionada,\n    respuesta: `Perfecto 👍\\nSeleccionaste: *${materiaSeleccionada}*\\n\\nBuscando tutores disponibles...`    \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -128
      ],
      "id": "5f72e1d1-6aa1-479c-ab54-e1f1c80aa7a4",
      "name": "Procesar Materia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3744,
        -128
      ],
      "id": "41d0fe3c-5609-43cf-aa1f-b25ebf7892c6",
      "name": "¿Materia Inválida?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutores",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3520,
        -112
      ],
      "id": "7759929c-ef48-4830-8df1-52731957df86",
      "name": "Descargar Tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const materia = $('Procesar Materia').first().json.materia_seleccionada;\nreturn items.filter(item => \n  item.json.estado === \"Activo\" && \n  item.json.especialidad_materias === materia\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        -112
      ],
      "id": "550687c2-762e-4153-ae3f-14cb6a2f9a51",
      "name": "Filtrar Tutores"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3120,
        -112
      ],
      "id": "e22be6fc-51bc-45f7-a3b7-014b02908390",
      "name": "Descargar Disponibilidades",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tutoresValidos = $('Filtrar Tutores').all().map(t => t.json.id_tutor);\nreturn items.filter(item => \n  tutoresValidos.includes(item.json.id_tutor) && \n  item.json.estado === \"Libre\"\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -112
      ],
      "id": "45d74eb0-fcf2-4e71-bcf3-bd12e0bc3656",
      "name": "Cruzar Disponibilidad"
    },
    {
      "parameters": {
        "jsCode": "const diasSemana = {\n  \"Domingo\": 0, \"Lunes\": 1, \"Martes\": 2,\n  \"Miércoles\": 3, \"Miercoles\": 3,\n  \"Jueves\": 4, \"Viernes\": 5,\n  \"Sábado\": 6, \"Sabado\": 6\n};\n\nfunction proximaFecha(diaTexto) {\n  const hoy = new Date();\n  const diaObjetivo = diasSemana[diaTexto];\n  if (diaObjetivo === undefined) return null;\n  const diaActual = hoy.getDay();\n  let diff = diaObjetivo - diaActual;\n  if (diff <= 0) diff += 7;\n  const res = new Date(hoy);\n  res.setDate(hoy.getDate() + diff);\n  return res.toISOString().split('T')[0];\n}\n\nconst tutoresMap = {};\n$('Filtrar Tutores').all().forEach(t => {\n  tutoresMap[t.json.id_tutor] = t.json.nombre;\n});\n\nconst opciones = [];\nlet counter = 1;\n\nfor (const dispo of items) {\n  const d = dispo.json;\n  opciones.push({\n    opcion: counter,\n    id_tutor: d.id_tutor,\n    nombre_tutor: tutoresMap[d.id_tutor] || \"Tutor\",\n    fecha: proximaFecha(d.dia_semana),\n    dia_semana: d.dia_semana,\n    hora_inicio: d.hora_inicio,\n    hora_fin: d.hora_fin\n  });\n  counter++;\n  if (counter > 3) break;\n}\n\nreturn opciones.map(op => ({ json: op }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        -112
      ],
      "id": "075fbb5a-5809-44db-91d0-4d6990920e6a",
      "name": "Motor de Asignación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-vacio",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2512,
        -208
      ],
      "id": "5abbb600-24e3-4c0b-ae54-1e4ac63a62df",
      "name": "¿Hay Opciones?"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: \"😔 Lo siento, en este momento no tenemos tutores disponibles para la materia solicitada. Por favor, intenta más tarde escribiendo *Hola*.\",\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        -208
      ],
      "id": "0b6f2ae9-4e5e-4f36-9797-9a8d72e6b042",
      "name": "Handler Sin Tutores"
    },
    {
      "parameters": {
        "jsCode": "const opciones = items.map(i => i.json);\nconst materia = $('Procesar Materia').first().json.materia_seleccionada;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nlet msg = `👨‍🏫 *Opciones de asesoría para ${materia}:*\\n\\n`;\n\nopciones.forEach(op => {\n  msg += `*${op.opcion}*️⃣ ${op.nombre_tutor}\\n📅 ${op.fecha} (${op.dia_semana})\\n⏰ ${op.hora_inicio} a ${op.hora_fin}\\n\\n`;\n});\n\nmsg += \"✍️ Responde con el *número* de la opción que desees agendar.\";\n\nreturn [{\n  json: {\n    telefono,\n    respuesta: msg,\n    siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        16
      ],
      "id": "41bf2b04-30f2-4c6f-b1b5-dba21d40734f",
      "name": "Construir Menú Opciones"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Extraer Datos WhatsApp').first().json.telefono }}",
            "opcion": "={{ $json.opcion }}",
            "id_tutor": "={{ $json.id_tutor }}",
            "nombre_tutor": "={{ $json.nombre_tutor }}",
            "materia": "={{ $('Procesar Materia').first().json.materia_seleccionada }}",
            "fecha": "={{ $json.fecha }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "Pendiente",
            "fecha_creacion": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2528,
        80
      ],
      "id": "1cd5ed4a-bb3a-4e24-b234-e2c6d64459a7",
      "name": "Almacenar Pre-Reservas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3968,
        176
      ],
      "id": "50287bb8-97dd-4520-996e-c5cf3af5063d",
      "name": "Cargar Opciones Ofrecidas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extraer Datos WhatsApp').first().json.mensaje.trim();\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\n\nconst seleccion = parseInt(msg, 10);\nconst pendientes = items.map(i => i.json);\n\nconst reservaElegida = pendientes.find(r => \n  r.id_chat === telefono && \n  parseInt(r.opcion, 10) === seleccion && \n  r.estado === \"Pendiente\"\n);\n\nif (!reservaElegida) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Selección inválida. Responde únicamente con el número de la opción elegida (1, 2 o 3).\",\n      siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...reservaElegida,\n    error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        176
      ],
      "id": "13cd9c26-8eba-4be7-8fc9-23910aac4a70",
      "name": "Validar Selección"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3520,
        176
      ],
      "id": "3e615b9a-242f-4b71-ba99-6a14706967ba",
      "name": "¿Selección Inválida?"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alexc6997@gmail.com",
          "mode": "list"
        },
        "start": "={{ $json.fecha + 'T' + $json.hora_inicio + ':00-05:00' }}",
        "end": "={{ $json.fecha + 'T' + $json.hora_fin + ':00-05:00' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -3296,
        192
      ],
      "id": "38cf7489-8167-4cc7-8cdf-4b3bd41952a6",
      "name": "Agendar Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Z9JehC3ptmYOv32N",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Validar Selección').first().json.id_tutor }}",
            "dia_semana": "={{ $('Validar Selección').first().json.dia_semana }}",
            "hora_inicio": "={{ $('Validar Selección').first().json.hora_inicio }}",
            "estado": "Ocupado",
            "row_number": 0
          },
          "matchingColumns": [
            "id_tutor",
            "dia_semana",
            "hora_inicio"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3088,
        192
      ],
      "id": "b672cad5-3a26-410d-beed-8ae1e80ae022",
      "name": "Cerrar Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Validar Selección').first().json.id_chat }}",
            "opcion": "={{ $('Validar Selección').first().json.opcion }}",
            "estado": "Confirmada"
          },
          "matchingColumns": [
            "id_chat",
            "opcion"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2880,
        192
      ],
      "id": "d8617e51-d267-4f9d-acd7-7ceace548570",
      "name": "Confirmar Asesoría",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Validar Selección').first().json;\n\nlet msg = \"✅ *¡TU ASESORÍA HA SIDO CONFIRMADA!* 🗓️\\n\\n\";\nmsg += `👩‍🏫 *Tutor:* ${r.nombre_tutor}\\n`;\nmsg += `📚 *Materia:* ${r.materia}\\n`;\nmsg += `📅 *Fecha:* ${r.fecha} (${r.dia_semana})\\n`;\nmsg += `🕗 *Hora:* ${r.hora_inicio} - ${r.hora_fin}\\n\\n`;\nmsg += \"Hemos añadido este evento a la agenda. ¡Te esperamos!\";\n\nreturn [{\n  json: {\n    telefono: r.id_chat,\n    respuesta: msg,\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        192
      ],
      "id": "0aa4c79f-cf4c-48b2-bcea-8a0fccbdeef5",
      "name": "Mensaje de Éxito"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1888,
        -64
      ],
      "id": "349b1063-d1af-4047-909d-1b92ea590b77",
      "name": "Merge Salidas"
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1696,
        -64
      ],
      "id": "d8809a65-fe31-429c-a05b-67ac2338d216",
      "name": "Guardar Estado DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.telefono }}",
        "toWhatsapp": true,
        "message": "={{ $json.respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1504,
        -64
      ],
      "id": "58f8da27-18d6-4e53-9b2e-6716a116c3fa",
      "name": "Twilio WhatsApp Unificado",
      "credentials": {
        "twilioApi": {
          "id": "y77sTKUGd8m3qMAU",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"body\": {\n    \"Body\": \"Hola\",\n    \"From\": \"whatsapp:+573016218473\",\n    \"ProfileName\": \"Estudiante prueba\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4896,
        -128
      ],
      "id": "5b8e7b25-acc4-462d-9295-09af0fbf0584",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos WhatsApp').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `¿Qué deseas hacer? Responde con el número:\\n\\n1️⃣ Solicitar una tutoría\\n2️⃣ Registrarme como estudiante\\n3️⃣ Consultar una tutoría\\n4️⃣ Cancelar una tutoría`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_PRINCIPAL'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        -528
      ],
      "id": "1e729217-9344-42fb-a665-9d079d72439d",
      "name": "Menu Principal"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($('Extraer Datos WhatsApp').first().json.mensaje || '').trim() }}",
        "rules": {
          "rules": [
            {
              "value2": "1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            },
            {
              "value2": "4",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3952,
        -528
      ],
      "id": "6767960b-b988-4736-a7e1-eaef205bde04",
      "name": "Switch Menu Principal"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nconst mensaje = ($('Extraer Datos WhatsApp').first().json.mensaje || '').trim();\nconst mensajeLower = mensaje.toLowerCase();\n\nconst sesionRows = $('Buscar Sesión Usuario').all();\nconst sesionExistente = sesionRows.length > 0 ? sesionRows[0].json : null;\n\nlet paso = (sesionExistente && sesionExistente.pantalla_actual === 'REGISTRO')\n  ? parseInt(sesionExistente.paso_actual, 10)\n  : 0;\nif (isNaN(paso)) paso = 0;\n\nlet datos = {};\ntry {\n  datos = (sesionExistente && sesionExistente.pantalla_actual === 'REGISTRO' && sesionExistente.datos_parciales)\n    ? JSON.parse(sesionExistente.datos_parciales)\n    : {};\n} catch (e) {\n  datos = {};\n}\n\nlet respuesta = '';\nlet nuevoPaso = paso;\nlet pantalla = 'REGISTRO';\nlet completado = false;\n\nif (paso === 0) {\n  nuevoPaso = 1;\n  respuesta = '📝 ¡Vamos a registrarte!\\n\\nPor favor escribe tu nombre completo:';\n  datos = {};\n}\nelse if (paso === 1) {\n  datos.nombre = mensaje;\n  nuevoPaso = 2;\n  respuesta = `Gracias, ${datos.nombre} 😊\\n\\nAhora escribe tu número de documento de identidad:`;\n}\nelse if (paso === 2) {\n  datos.documento = mensaje;\n  nuevoPaso = 3;\n  respuesta = 'Perfecto ✅\\n\\n¿Qué materia te interesa?\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS';\n}\nelse if (paso === 3) {\n  const materias = {'1':'JavaScript','2':'Python','3':'Java','4':'Bases de Datos','5':'HTML y CSS'};\n  const materiaElegida = materias[mensaje];\n  if (!materiaElegida) {\n    nuevoPaso = 3;\n    respuesta = 'No reconocí esa opción 😅\\n\\nResponde con un número del 1 al 5.';\n  } else {\n    datos.materia = materiaElegida;\n    nuevoPaso = 4;\n    respuesta = `Confirma tus datos 📋\\n\\n👤 Nombre: ${datos.nombre}\\n🪦 Documento: ${datos.documento}\\n📚 Materia: ${datos.materia}\\n\\n¿Es correcto? Responde SI o NO`;\n  }\n}\nelse if (paso === 4) {\n  if (mensajeLower === 'si' || mensajeLower === 'sí') {\n    completado = true;\n    nuevoPaso = 0;\n    pantalla = 'NUEVO';\n    respuesta = `🎉 ¡Registro completado, ${datos.nombre}!\\n\\nEscribe *menu* para ver las opciones disponibles.`;\n  } else if (mensajeLower === 'no') {\n    nuevoPaso = 1;\n    datos = {};\n    respuesta = 'Sin problema, empecemos de nuevo 🔄\\n\\nEscribe tu nombre completo:';\n  } else {\n    nuevoPaso = 4;\n    respuesta = 'Por favor responde solo SI o NO 🙏';\n  }\n}\n\nreturn [{\n  json: {\n    telefono,\n    respuesta,\n    siguiente_pantalla: pantalla,\n    paso_actual: nuevoPaso,\n    datos_parciales: JSON.stringify(datos),\n    completado,\n    id_estudiante: completado ? telefono : null,\n    nombre_estudiante: completado ? datos.nombre : null,\n    documento: completado ? datos.documento : null,\n    materia_interes: completado ? datos.materia : null,\n    fecha_registro: completado ? new Date().toISOString().slice(0,10) : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3520,
        -736
      ],
      "id": "8b6978d9-78ab-4651-98a6-a53c05f29252",
      "name": "Procesar Registro"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-completado-registro",
              "leftValue": "={{ $json.completado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3296,
        -736
      ],
      "id": "a3445f60-0458-4c8a-97a2-fae8085608e7",
      "name": "¿Registro Completo?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESTUDIANTES",
          "mode": "list",
          "cachedResultName": "ESTUDIANTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_estudiante": "={{ $json.id_estudiante }}",
            "nombre": "={{ $json.nombre_estudiante }}",
            "documento": "={{ $json.documento }}",
            "telefono": "={{ $json.telefono }}",
            "materia_interes": "={{ $json.materia_interes }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3072,
        -816
      ],
      "id": "cdcdd4b3-3b2e-4b90-a02f-fe4e5d8d1c16",
      "name": "Guardar Estudiante"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5104,
        -288
      ],
      "id": "69270f98-8313-4f69-9a24-f15ef1522b42",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '🔍 Escribe el ID de la tutoría que deseas consultar (ejemplo: TU001):',\n    siguiente_pantalla: 'CONSULTAR'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -896
      ],
      "id": "3573a01a-69e8-4872-920b-db9d1aa1f102",
      "name": "Pedir ID Consulta"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $('Extraer Datos WhatsApp').first().json.mensaje.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3520,
        -896
      ],
      "id": "cc9d6acc-f87c-49c2-b3e7-b47d84745d64",
      "name": "Buscar Tutoria (Consultar)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "chk-consulta",
              "leftValue": "={{ $json.id_tutoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        -896
      ],
      "id": "c11dda43-a1c1-444f-9c9b-2fa7adac93f6",
      "name": "¿Tutoria Encontrada? (Consultar)"
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nlet msg = '✅ *Tutoría encontrada:*\\n\\n';\nmsg += `🆔 ID: ${r.id_tutoria}\\n`;\nmsg += `📚 Materia: ${r.materia}\\n`;\nmsg += `📅 Fecha: ${r.fecha}\\n`;\nmsg += `🕗 Hora: ${r.hora}\\n`;\nmsg += `📌 Estado: ${r.estado}\\n\\n`;\nmsg += 'Escribe *menu* para volver al inicio.';\nreturn [{ json: { telefono, respuesta: msg, siguiente_pantalla: 'NUEVO' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        -976
      ],
      "id": "891d1dba-3c2b-43a8-a167-755944b4e4c7",
      "name": "Respuesta Consulta OK"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '⚠️ Tutoría no encontrada. Verifica el ID e intenta de nuevo, o escribe *menu* para volver al inicio.',\n    siguiente_pantalla: 'NUEVO'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        -816
      ],
      "id": "e17a52cc-87ec-4e7a-9aae-8be5b29c3f29",
      "name": "Respuesta Consulta Error"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '❌ Escribe el ID de la tutoría que deseas cancelar (ejemplo: TU001):',\n    siguiente_pantalla: 'CANCELAR'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -1056
      ],
      "id": "0d0d9340-2a3e-4c16-98ed-b89f13727b89",
      "name": "Pedir ID Cancelar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $('Extraer Datos WhatsApp').first().json.mensaje.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3520,
        -1056
      ],
      "id": "73d36042-2d20-4939-9505-21e776caf8f3",
      "name": "Buscar Tutoria (Cancelar)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "chk-cancelar",
              "leftValue": "={{ $json.id_tutoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        -1056
      ],
      "id": "aea8a0e1-8862-4101-8b70-9471056361cb",
      "name": "¿Tutoria Encontrada? (Cancelar)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutorias",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $json.id_tutoria }}",
            "estado": "Cancelada"
          },
          "matchingColumns": [
            "id_tutoria"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3072,
        -1136
      ],
      "id": "ab7e4630-d2a8-4c08-be66-4a92092db455",
      "name": "Actualizar Estado Tutoria",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Buscar Tutoria (Cancelar)').first().json.id_tutor }}",
            "estado": "Libre",
            "row_number": 0
          },
          "matchingColumns": [
            "id_tutor"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2864,
        -1136
      ],
      "id": "01bac7f5-0a25-4d11-831b-b987a5f07c20",
      "name": "Liberar Horario Tutor",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Buscar Tutoria (Cancelar)').first().json;\nconst telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{ json: { telefono, respuesta: `✅ Tu tutoría (ID: ${r.id_tutoria}) fue cancelada correctamente.\\n\\nEscribe *menu* para volver al inicio.`, siguiente_pantalla: 'NUEVO' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        -1136
      ],
      "id": "869afdfb-d5c0-41ee-a7f5-9a5f803110fe",
      "name": "Respuesta Cancelar OK"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos WhatsApp').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: '⚠️ Tutoría no encontrada. Verifica el ID e intenta de nuevo, o escribe *menu* para volver al inicio.',\n    siguiente_pantalla: 'NUEVO'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        -1136
      ],
      "id": "fcc68b6d-094c-445b-9bf6-92a68949a919",
      "name": "Respuesta Cancelar Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Sesión Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesión Usuario": {
      "main": [
        [
          {
            "node": "Enrutador de Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de Estados": {
      "main": [
        [
          {
            "node": "Switch Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cargar Opciones Ofrecidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Materia": {
      "main": [
        [
          {
            "node": "¿Materia Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Materia Inválida?": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Tutores": {
      "main": [
        [
          {
            "node": "Filtrar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Tutores": {
      "main": [
        [
          {
            "node": "Descargar Disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Disponibilidades": {
      "main": [
        [
          {
            "node": "Cruzar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar Disponibilidad": {
      "main": [
        [
          {
            "node": "Motor de Asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Asignación": {
      "main": [
        [
          {
            "node": "¿Hay Opciones?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Almacenar Pre-Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Opciones?": {
      "main": [
        [
          {
            "node": "Handler Sin Tutores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Menú Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Sin Tutores": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Menú Opciones": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Opciones Ofrecidas": {
      "main": [
        [
          {
            "node": "Validar Selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Selección": {
      "main": [
        [
          {
            "node": "¿Selección Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Selección Inválida?": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Google Calendar": {
      "main": [
        [
          {
            "node": "Cerrar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Disponibilidad": {
      "main": [
        [
          {
            "node": "Confirmar Asesoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Asesoría": {
      "main": [
        [
          {
            "node": "Mensaje de Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de Éxito": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Salidas": {
      "main": [
        [
          {
            "node": "Guardar Estado DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado DB": {
      "main": [
        [
          {
            "node": "Twilio WhatsApp Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Inicial": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Menu Principal": {
      "main": [
        [
          {
            "node": "Menu Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Consulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Registro": {
      "main": [
        [
          {
            "node": "¿Registro Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Registro Completo?": {
      "main": [
        [
          {
            "node": "Guardar Estudiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estudiante": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Consulta": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria (Consultar)": {
      "main": [
        [
          {
            "node": "¿Tutoria Encontrada? (Consultar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tutoria Encontrada? (Consultar)": {
      "main": [
        [
          {
            "node": "Respuesta Consulta OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Consulta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Consulta OK": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Consulta Error": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Cancelar": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria (Cancelar)": {
      "main": [
        [
          {
            "node": "¿Tutoria Encontrada? (Cancelar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tutoria Encontrada? (Cancelar)": {
      "main": [
        [
          {
            "node": "Actualizar Estado Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Cancelar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado Tutoria": {
      "main": [
        [
          {
            "node": "Liberar Horario Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario Tutor": {
      "main": [
        [
          {
            "node": "Respuesta Cancelar OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cancelar OK": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cancelar Error": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23105ac3-b4b8-4f78-b962-063041caef7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eccbb631d146352b69c2dcf3a0e899ec6bc26916e8a8bca0dd1f168d982a3dea"
  },
  "id": "aafcM7Lba2soYTGP",
  "tags": []
}
