workflows/Registro_Estudiante.json
{
  "name": "Registro_Estudiante_Discord",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        672
      ],
      "id": "53d09381-8595-44a0-9b84-0698c7989a22",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "const ID_DISCORD = '1461025112445812879';\nconst telefono = ID_DISCORD;\nconst usuarioNombre = 'Natalia';\nreturn [{ json: { telefono, usuarioNombre } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        672
      ],
      "id": "11f5c435-771f-4067-862b-fdf7e481aff8",
      "name": "Extraer Datos Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ '👋 ¡Hola ' + $json.usuarioNombre + '! Vamos a registrarte en TutorBot.\\n\\nEscribe tu *nombre completo*:' }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -688,
        672
      ],
      "id": "693e4786-4999-44c7-9161-27cf3e54cd77",
      "name": "Pedir Nombre",
      "webhookId": "f77dfd3b-33dc-4f87-abf1-a6cc972ff4c1",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ 'Gracias, ' + $json.data.text + ' 😊\\n\\nAhora escribe tu *número de documento*:' }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -448,
        672
      ],
      "id": "3c6852c9-4d39-4dbb-8fa1-7b285fc7720b",
      "name": "Pedir Documento",
      "webhookId": "0c808a66-a8da-4142-aa76-688659c4fe1a",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ 'Perfecto ✅\\n\\n¿Qué materia te interesa?\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS' }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -208,
        672
      ],
      "id": "8b78774d-e917-45b5-bf1c-28f867409924",
      "name": "Pedir Materia",
      "webhookId": "5b4b7b75-c317-4858-898a-0e7bc2bc0861",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nombre = $('Pedir Nombre').first().json.data.text;\nconst documento = $('Pedir Documento').first().json.data.text;\nconst msgOpcion = $('Pedir Materia').first().json.data.text;\nconst materias = {'1':'JavaScript','2':'Python','3':'Java','4':'Bases de Datos','5':'HTML y CSS'};\nconst materia = materias[msgOpcion] || 'No reconocida';\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\nconst resumen = `Confirma tus datos 📋\\n\\n👤 Nombre: ${nombre}\\n🪪 Documento: ${documento}\\n📚 Materia: ${materia}\\n\\n¿Es correcto? Responde SI o NO`;\nreturn [{ json: { telefono, nombre, documento, materia, resumen } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        672
      ],
      "id": "6be1d958-d26b-4287-a3f6-c459065d5db3",
      "name": "Armar Resumen"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ $json.resumen }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        272,
        672
      ],
      "id": "fba76429-5faf-47b4-9bd9-a4afa53da221",
      "name": "Confirmar Registro",
      "webhookId": "b4190d7a-9d88-4143-a94e-8a6b22c06dae",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "chk",
              "leftValue": "={{ $json.data.text.trim().toLowerCase() }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        672
      ],
      "id": "3c6e6207-f608-4938-9c69-b98ed7eccced",
      "name": "¿Confirmó?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estudiantes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_estudiante": "={{ $('Armar Resumen').first().json.telefono }}",
            "nombre": "={{ $('Armar Resumen').first().json.nombre }}",
            "documento": "={{ $('Armar Resumen').first().json.documento }}",
            "telefono": "={{ $('Armar Resumen').first().json.telefono }}",
            "fecha_registro": "={{ new Date().toISOString().slice(0,10) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " materia_interes",
              "displayName": " materia_interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        592
      ],
      "id": "c1693958-e630-4b88-878b-03d8d070f086",
      "name": "Guardar Estudiante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "={{ '🎉 ¡Registro completado, ' + $('Armar Resumen').first().json.nombre + '! Ya puedes escribir *hola* para solicitar tu primera tutoría.' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        992,
        592
      ],
      "id": "ff2a71ec-612e-484d-b6c3-15f4ec59282c",
      "name": "Confirmacion Final",
      "webhookId": "eb032933-92fa-450a-bc40-2ebb0dd6ce1d",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "Registro cancelado. Escribe *hola* cuando quieras intentarlo de nuevo.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        752,
        752
      ],
      "id": "bb8c3f52-540f-4128-ab71-dc2e23635b54",
      "name": "Registro Cancelado",
      "webhookId": "588b5d98-4a69-4993-aef2-346ccfd4d4ac",
      "credentials": {
        "discordBotApi": {
          "id": "eJ6F1pe39cGzo6JQ",
          "name": "Discord Bot account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Extraer Datos Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Discord": {
      "main": [
        [
          {
            "node": "Pedir Nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Nombre": {
      "main": [
        [
          {
            "node": "Pedir Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Documento": {
      "main": [
        [
          {
            "node": "Pedir Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Materia": {
      "main": [
        [
          {
            "node": "Armar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Resumen": {
      "main": [
        [
          {
            "node": "Confirmar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Registro": {
      "main": [
        [
          {
            "node": "¿Confirmó?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirmó?": {
      "main": [
        [
          {
            "node": "Guardar Estudiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registro Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estudiante": {
      "main": [
        [
          {
            "node": "Confirmacion Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41c5fd91-6d78-491f-9978-7c4433ce2ca6",
  "meta": {
    "instanceId": "eccbb631d146352b69c2dcf3a0e899ec6bc26916e8a8bca0dd1f168d982a3dea"
  },
  "id": "WsAR8sMNh5uNxUsr",
  "tags": []
}
