workflows/Registro_Estudiante.json
{
  "name": "Registro_Estudiante",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-estudiante",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        96
      ],
      "id": "b1a2c3d4-0001-4aaa-8000-000000000001",
      "name": "Webhook",
      "webhookId": "registro-estudiante-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -112,
        96
      ],
      "id": "b1a2c3d4-0002-4aaa-8000-000000000002",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst mensaje = (body.Body || \"\").trim();\nconst telefono = body.From || \"\";\n\nreturn [\n  {\n    json: {\n      mensaje,\n      telefono\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        224
      ],
      "id": "b1a2c3d4-0003-4aaa-8000-000000000003",
      "name": "Extraer Datos WhatsApp"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "WhatShapp_user",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        224
      ],
      "id": "b1a2c3d4-0004-4aaa-8000-000000000004",
      "name": "Buscar Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensaje = ($json.mensaje || \"\").trim();\nconst mensajeLower = mensaje.toLowerCase();\nconst telefono = $json.telefono;\n\nconst sesiones = $input.all();\nconst sesionExistente = sesiones.length > 0 ? sesiones[0].json : null;\n\nlet paso = sesionExistente ? parseInt(sesionExistente.paso_actual, 10) : 0;\nif (isNaN(paso)) paso = 0;\n\nlet datos = {};\ntry {\n  datos = sesionExistente && sesionExistente.datos_parciales\n    ? JSON.parse(sesionExistente.datos_parciales)\n    : {};\n} catch (e) {\n  datos = {};\n}\n\nlet respuesta = \"\";\nlet nuevoPaso = paso;\nlet pantalla = \"registro\";\nlet completado = false;\n\nif (paso === 0 || mensajeLower === \"registrarme\" || mensajeLower === \"registro\") {\n  nuevoPaso = 1;\n  respuesta = \"\\ud83d\\udc4b \\u00a1Bienvenido al registro de TutorBot!\\n\\nPor favor escribe tu nombre completo:\";\n  datos = {};\n}\nelse if (paso === 1) {\n  datos.nombre = mensaje;\n  nuevoPaso = 2;\n  respuesta = `Gracias, ${datos.nombre} \\ud83d\\ude0a\\n\\nAhora escribe tu n\\u00famero de documento de identidad:`;\n}\nelse if (paso === 2) {\n  datos.documento = mensaje;\n  nuevoPaso = 3;\n  respuesta = \"Perfecto \\u2705\\n\\n\\u00bfQu\\u00e9 materia te interesa?\\n\\n1\\ufe0f\\u20e3 JavaScript\\n2\\ufe0f\\u20e3 Python\\n3\\ufe0f\\u20e3 Java\\n4\\ufe0f\\u20e3 Bases de Datos\\n5\\ufe0f\\u20e3 HTML y CSS\";\n}\nelse if (paso === 3) {\n  const materias = {\n    \"1\": \"JavaScript\",\n    \"2\": \"Python\",\n    \"3\": \"Java\",\n    \"4\": \"Bases de Datos\",\n    \"5\": \"HTML y CSS\"\n  };\n  const materiaElegida = materias[mensaje];\n  if (!materiaElegida) {\n    nuevoPaso = 3;\n    respuesta = \"No reconoc\\u00ed esa opci\\u00f3n \\ud83d\\ude05\\n\\nResponde con un n\\u00famero del 1 al 5:\\n1\\ufe0f\\u20e3 JavaScript\\n2\\ufe0f\\u20e3 Python\\n3\\ufe0f\\u20e3 Java\\n4\\ufe0f\\u20e3 Bases de Datos\\n5\\ufe0f\\u20e3 HTML y CSS\";\n  } else {\n    datos.materia = materiaElegida;\n    nuevoPaso = 4;\n    respuesta = `Confirma tus datos \\ud83d\\udccb\\n\\n\\ud83d\\udc64 Nombre: ${datos.nombre}\\n\\ud83e\\udea6 Documento: ${datos.documento}\\n\\ud83d\\udcda Materia: ${datos.materia}\\n\\n\\u00bfEs correcto? Responde SI o NO`;\n  }\n}\nelse if (paso === 4) {\n  if (mensajeLower === \"si\" || mensajeLower === \"s\\u00ed\") {\n    completado = true;\n    nuevoPaso = 0;\n    pantalla = \"finalizado\";\n    respuesta = `\\ud83c\\udf89 \\u00a1Registro completado, ${datos.nombre}!\\n\\nYa puedes escribir \"Hola\" para solicitar tu primera tutor\\u00eda.`;\n  } else if (mensajeLower === \"no\") {\n    nuevoPaso = 1;\n    datos = {};\n    respuesta = \"Sin problema, empecemos de nuevo \\ud83d\\udd04\\n\\nEscribe tu nombre completo:\";\n  } else {\n    nuevoPaso = 4;\n    respuesta = \"Por favor responde solo SI o NO \\ud83d\\ude4f\";\n  }\n}\nelse {\n  nuevoPaso = 1;\n  respuesta = \"Empecemos tu registro \\ud83d\\udcdd\\n\\nEscribe tu nombre completo:\";\n  datos = {};\n}\n\nreturn [\n  {\n    json: {\n      telefono,\n      mensaje: respuesta,\n      pantalla_actual: pantalla,\n      paso_actual: nuevoPaso,\n      datos_parciales: JSON.stringify(datos),\n      completado,\n      id_estudiante: completado ? telefono : null,\n      nombre_estudiante: completado ? datos.nombre : null,\n      documento: completado ? datos.documento : null,\n      materia_interes: completado ? datos.materia : null,\n      fecha_registro: completado ? new Date().toISOString().slice(0,10) : null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        224
      ],
      "id": "b1a2c3d4-0005-4aaa-8000-000000000005",
      "name": "Procesar Registro"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WhatShapp_user": "={{ $json.telefono }}",
            "pantalla_actual": "={{ $json.pantalla_actual }}",
            "paso_actual": "={{ $json.paso_actual }}",
            "datos_parciales": "={{ $json.datos_parciales }}"
          },
          "matchingColumns": [
            "WhatShapp_user"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        224
      ],
      "id": "b1a2c3d4-0006-4aaa-8000-000000000006",
      "name": "Actualizar Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-completado",
              "leftValue": "={{ $json.completado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        976,
        224
      ],
      "id": "b1a2c3d4-0007-4aaa-8000-000000000007",
      "name": "Registro Completo?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESTUDIANTES",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_estudiante": "={{ $json.id_estudiante }}",
            "nombre": "={{ $json.nombre_estudiante }}",
            "documento": "={{ $json.documento }}",
            "telefono": "={{ $json.telefono }}",
            "materia_interes": "={{ $json.materia_interes }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        96
      ],
      "id": "b1a2c3d4-0008-4aaa-8000-000000000008",
      "name": "Guardar Estudiante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dlZm8JgcwMf1mXt5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.telefono }}",
        "toWhatsapp": true,
        "message": "={{ $json.mensaje }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1248,
        352
      ],
      "id": "b1a2c3d4-0009-4aaa-8000-000000000009",
      "name": "Enviar Mensaje WhatsApp"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesion": {
      "main": [
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Registro": {
      "main": [
        [
          {
            "node": "Actualizar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Sesion": {
      "main": [
        [
          {
            "node": "Registro Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro Completo?": {
      "main": [
        [
          {
            "node": "Guardar Estudiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estudiante": {
      "main": [
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "489454830b805717743ac4c8538048d101d7e28dd0d41eae12050f20151ec3b0"
  },
  "tags": []
}
