workflows/Registro_Estudiante.json
{
  "name": "Registro_Estudiante",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-estudiante",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        -128
      ],
      "id": "3939b6ad-33bb-48b1-9646-dbdff267effd",
      "name": "Webhook",
      "webhookId": "registro-estudiante-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -832,
        -128
      ],
      "id": "32ea4bd7-192b-4f09-87a3-17920ae829ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst mensaje = (body.Body || \"\").trim();\nconst telefono = body.From || \"\";\n\nreturn [\n  {\n    json: {\n      mensaje,\n      telefono\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        16
      ],
      "id": "7a3d8e30-441e-4c38-99c6-ad4428814105",
      "name": "Extraer Datos WhatsApp"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "WhatShapp_user",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        16
      ],
      "id": "f6157686-f166-46e6-a085-7a7c14c7f603",
      "name": "Buscar Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensaje = ($json.mensaje || \"\").trim();\nconst mensajeLower = mensaje.toLowerCase();\nconst telefono = $json.telefono;\n\nconst sesiones = $input.all();\nconst sesionExistente = sesiones.length > 0 ? sesiones[0].json : null;\n\nlet paso = sesionExistente ? parseInt(sesionExistente.paso_actual, 10) : 0;\nif (isNaN(paso)) paso = 0;\n\nlet datos = {};\ntry {\n  datos = sesionExistente && sesionExistente.datos_parciales\n    ? JSON.parse(sesionExistente.datos_parciales)\n    : {};\n} catch (e) {\n  datos = {};\n}\n\nlet respuesta = \"\";\nlet nuevoPaso = paso;\nlet pantalla = \"registro\";\nlet completado = false;\n\nif (paso === 0 || mensajeLower === \"registrarme\" || mensajeLower === \"registro\") {\n  nuevoPaso = 1;\n  respuesta = \"\\ud83d\\udc4b \\u00a1Bienvenido al registro de TutorBot!\\n\\nPor favor escribe tu nombre completo:\";\n  datos = {};\n}\nelse if (paso === 1) {\n  datos.nombre = mensaje;\n  nuevoPaso = 2;\n  respuesta = `Gracias, ${datos.nombre} \\ud83d\\ude0a\\n\\nAhora escribe tu n\\u00famero de documento de identidad:`;\n}\nelse if (paso === 2) {\n  datos.documento = mensaje;\n  nuevoPaso = 3;\n  respuesta = \"Perfecto \\u2705\\n\\n\\u00bfQu\\u00e9 materia te interesa?\\n\\n1\\ufe0f\\u20e3 JavaScript\\n2\\ufe0f\\u20e3 Python\\n3\\ufe0f\\u20e3 Java\\n4\\ufe0f\\u20e3 Bases de Datos\\n5\\ufe0f\\u20e3 HTML y CSS\";\n}\nelse if (paso === 3) {\n  const materias = {\n    \"1\": \"JavaScript\",\n    \"2\": \"Python\",\n    \"3\": \"Java\",\n    \"4\": \"Bases de Datos\",\n    \"5\": \"HTML y CSS\"\n  };\n  const materiaElegida = materias[mensaje];\n  if (!materiaElegida) {\n    nuevoPaso = 3;\n    respuesta = \"No reconoc\\u00ed esa opci\\u00f3n \\ud83d\\ude05\\n\\nResponde con un n\\u00famero del 1 al 5:\\n1\\ufe0f\\u20e3 JavaScript\\n2\\ufe0f\\u20e3 Python\\n3\\ufe0f\\u20e3 Java\\n4\\ufe0f\\u20e3 Bases de Datos\\n5\\ufe0f\\u20e3 HTML y CSS\";\n  } else {\n    datos.materia = materiaElegida;\n    nuevoPaso = 4;\n    respuesta = `Confirma tus datos \\ud83d\\udccb\\n\\n\\ud83d\\udc64 Nombre: ${datos.nombre}\\n\\ud83e\\udea6 Documento: ${datos.documento}\\n\\ud83d\\udcda Materia: ${datos.materia}\\n\\n\\u00bfEs correcto? Responde SI o NO`;\n  }\n}\nelse if (paso === 4) {\n  if (mensajeLower === \"si\" || mensajeLower === \"s\\u00ed\") {\n    completado = true;\n    nuevoPaso = 0;\n    pantalla = \"finalizado\";\n    respuesta = `\\ud83c\\udf89 \\u00a1Registro completado, ${datos.nombre}!\\n\\nYa puedes escribir \"Hola\" para solicitar tu primera tutor\\u00eda.`;\n  } else if (mensajeLower === \"no\") {\n    nuevoPaso = 1;\n    datos = {};\n    respuesta = \"Sin problema, empecemos de nuevo \\ud83d\\udd04\\n\\nEscribe tu nombre completo:\";\n  } else {\n    nuevoPaso = 4;\n    respuesta = \"Por favor responde solo SI o NO \\ud83d\\ude4f\";\n  }\n}\nelse {\n  nuevoPaso = 1;\n  respuesta = \"Empecemos tu registro \\ud83d\\udcdd\\n\\nEscribe tu nombre completo:\";\n  datos = {};\n}\n\nreturn [\n  {\n    json: {\n      telefono,\n      mensaje: respuesta,\n      pantalla_actual: pantalla,\n      paso_actual: nuevoPaso,\n      datos_parciales: JSON.stringify(datos),\n      completado,\n      id_estudiante: completado ? telefono : null,\n      nombre_estudiante: completado ? datos.nombre : null,\n      documento: completado ? datos.documento : null,\n      materia_interes: completado ? datos.materia : null,\n      fecha_registro: completado ? new Date().toISOString().slice(0,10) : null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        16
      ],
      "id": "9e625f4c-7807-40a3-827a-93e22a08d706",
      "name": "Procesar Registro"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WhatShapp_user": "={{ $json.telefono }}",
            "pantalla_actual": "={{ $json.pantalla_actual }}",
            "paso_actual": "={{ $json.paso_actual }}",
            "datos_parciales": "={{ $json.datos_parciales }}"
          },
          "matchingColumns": [
            "WhatShapp_user"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        16
      ],
      "id": "969d743c-cf50-47a8-ba9b-6d99b9c9ca54",
      "name": "Actualizar Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-completado",
              "leftValue": "={{ $json.completado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        16
      ],
      "id": "bba3fd0c-fa3d-4f2c-ad99-5e80b107d46b",
      "name": "Registro Completo?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESTUDIANTES",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_estudiante": "={{ $json.id_estudiante }}",
            "nombre": "={{ $json.nombre_estudiante }}",
            "documento": "={{ $json.documento }}",
            "telefono": "={{ $json.telefono }}",
            "materia_interes": "={{ $json.materia_interes }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -128
      ],
      "id": "452de041-7880-49a7-9411-d5e5a90dba95",
      "name": "Guardar Estudiante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QjRFsBqRYDWP5T7B",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.telefono }}",
        "toWhatsapp": true,
        "message": "={{ $json.mensaje }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        544,
        144
      ],
      "id": "03f3fa92-a412-4f4f-ac40-cd66ffb5ac3b",
      "name": "Enviar Mensaje WhatsApp",
      "credentials": {
        "twilioApi": {
          "id": "y77sTKUGd8m3qMAU",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        192
      ],
      "id": "3f2acf2a-50ad-4654-8dd3-dff47596be67",
      "name": "Prueba Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37550e60-4e93-46f7-922a-76224b27047c",
              "name": "body.Body",
              "value": "Hola",
              "type": "string"
            },
            {
              "id": "6a788012-d4a5-4d1e-8159-3ed8990e1543",
              "name": "body.From",
              "value": "573009998888",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        192
      ],
      "id": "711aba16-2686-4f1b-bfc2-fedcd5de329c",
      "name": "Simular Mensaje WhatsApp"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesion": {
      "main": [
        [
          {
            "node": "Procesar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Registro": {
      "main": [
        [
          {
            "node": "Actualizar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Sesion": {
      "main": [
        [
          {
            "node": "Registro Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro Completo?": {
      "main": [
        [
          {
            "node": "Guardar Estudiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estudiante": {
      "main": [
        [
          {
            "node": "Enviar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba Manual": {
      "main": [
        [
          {
            "node": "Simular Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simular Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Extraer Datos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25b6d504-bce4-4fcd-a018-b427b2b60867",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eccbb631d146352b69c2dcf3a0e899ec6bc26916e8a8bca0dd1f168d982a3dea"
  },
  "id": "XMBl5LdPiCaf2sQh",
  "tags": []
}
